.hero_background {
background: url("./assets/background.jpg");
background-repeat: no-repeat;
background-size: cover;
}

  @media (max-width: 768px) {                                       
   .hero_background { 
  background: url(./assets/mobile_background.jpg);

  }
  
  }
.memory_background {
background: url("./assets/background.jpg");
background-repeat: no-repeat;
background-size: cover;
}

