div.SVGCircleCarousel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

div.SVGCircleCarousel svg {
    /* background-color: #eee; */
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1 / 1;
    width: 500px;
    transform: translate(-50%, -50%);
    transform-box: fill-box;
    transform-origin: center;
}


div.SVGCircleCarousel > svg:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

div.SVGCircleCarousel > svg:nth-child(2) {
    transform: translate(-50%, -50%) rotate(85deg);
}

div.SVGCircleCarousel > svg:nth-child(3) {
    transform: translate(-50%, -50%) rotate(45deg);
}